@import url("http://fonts.cdnfonts.com/css/montserrat");
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #4884B7;
}

.link {
  height: 40px;
  width: auto;
  padding-left: 10px;
  padding-top: 5px;
  font-weight: bold;
  padding-right: 10px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #4884B7;
  color: white;
  background-color: #4884B7;
  transition: 500ms ease-in-out;
}

.link a {
  color: white;
}

.link:hover {
  transform: scale(1);
}

html, body {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1.1em;
  font-family: "Montserrat", sans-serif;
}

.main {
  display: block;
  width: 100%;
}

.form {
  margin: 20px 30px auto auto;
  padding-bottom: 20px;
  width: 500px;
  text-align: center;
  border-radius: 15px;
  background-color: rgb(207, 205, 201);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.form h1 {
  color: #4884B7;
  text-align: center;
  font-size: 2.2em;
  font-weight: bold;
}
.form span {
  color: #4884B7;
  font-size: 2em;
  font-weight: bold;
}
.form span .gh {
  font-size: 1em;
  font-weight: 400;
}
.form .details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 65%;
  margin: auto;
}
.form .details label {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  justify-content: start;
}
.form .details label .sm {
  width: 15px;
  height: 15px;
  margin: 5px 5px auto 0;
}
.form .details label img {
  width: 25px;
  height: 25px;
}
.form .details label p {
  font-size: 1em;
  font-weight: 400;
}
.form label {
  margin: 10px auto;
  width: 330px;
}
.form label input {
  width: 220px;
  height: 30px;
  border: 1px solid #202022;
  position: relative;
}
.form label .blue {
  color: #4884B7;
  font-weight: bold;
  padding-left: 20px;
}
.form label .black {
  color: rgb(34, 26, 26);
  font-weight: 600;
}
.form label .currency {
  position: absolute;
  margin: -30px auto auto 60px;
  color: #4884B7;
  font-weight: bold;
}
.form label .flag {
  position: absolute;
  margin: 2px 50px auto -40px;
  color: #4884B7;
  font-weight: bold;
  height: 30px;
  width: 30px;
}
.form__close {
  float: right;
  height: 40px;
  margin: 10px 0 10px auto;
}
.form__close i {
  margin: auto 10px auto auto;
}
.form .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 70%;
  margin: 20px auto;
}
.form__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  margin: 50px auto;
}
.form__items__item {
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: 500ms ease-in-out;
}
.form__items__item img {
  width: 70px;
  height: 70px;
}
.form__items__item p {
  text-align: center;
  font-size: 0.9em;
}
.form__items__item:hover {
  transform: scale(1.1);
}
.form .link {
  margin: 20px auto;
  width: 150px;
}

.container {
  width: 100%;
}

button a {
  color: white;
  font-weight: bold;
}

nav {
  height: 80px;
  width: 100%;
  position: fixed;
  background: rgb(4, 5, 53);
  z-index: 99999;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}

label.logo img {
  margin: 10px auto;
  height: 50px;
  width: 170px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
}

.login-link {
  border-radius: 3px;
  height: 40px;
  background-color: #40312C;
  color: white;
}

.login-link:hover {
  color: #4884B7;
  background-color: #4884B7;
}

a.active, a:hover {
  color: #4884B7;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 1279px) {
  .checkbtn {
    display: block;
  }
  .checkbtn i {
    color: white;
  }
  nav {
    position: fixed;
    z-index: 9999;
    background-color: #40312C;
  }
  nav label img {
    top: 5px;
    left: 5px;
    position: absolute;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    top: 80px;
    padding-top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 10px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover, a.active {
    background: none;
    color: #D1AF52;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
.dashboard {
  width: 95%;
  display: flex;
  margin: auto;
  padding-top: 110px;
}
.dashboard .menu {
  width: 20%;
  height: 80vh;
  background-color: #202022;
  border-radius: 10px;
  border: 1px #202022 solid;
  display: block;
  text-align: center;
  padding-top: 0;
}
.dashboard .menu li {
  margin: 0px auto 10px auto;
  background-color: #4884B7;
}
.dashboard .menu li .link a {
  color: white;
  font-weight: bold;
}
.dashboard .menu li button {
  background-color: #4884B7;
  color: white;
  border: 1px #4884B7 solid;
  font-weight: bold;
}
.dashboard .content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 75%;
  border-radius: 10px;
  margin: auto;
  padding-top: 0;
  background-color: gray;
}
.dashboard .content__title {
  margin: 20px auto auto 10px;
  color: #4884B7;
  font-size: 1.8em;
  text-align: center;
}
.dashboard .content__infos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  text-align: right;
  float: right;
  height: 50px;
  margin: auto 0;
}
.dashboard .content__infos .icons {
  margin: auto 0 auto auto;
  float: right;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.dashboard .content__infos .icons .icon {
  margin: 10px;
  text-align: right;
  cursor: pointer;
  transition: 500ms ease-in-out;
}
.dashboard .content__infos .icons .icon:hover {
  transform: scaleX(1);
}
.dashboard .content__boxes {
  margin: 5px auto auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  cursor: pointer;
  text-align: left;
}
.dashboard .content__boxes .box {
  width: 250px;
  margin: 15px;
  height: 150px;
  border-radius: 10px;
  position: relative;
  flex: 1;
  margin: 15px;
  background-color: whitesmoke;
  padding-left: 5px;
  padding-top: 5px;
  display: grid;
}
.dashboard .content__boxes .box p {
  text-align: center;
  margin: 5px auto;
  width: 100%;
}
.dashboard .content__boxes .box p strong {
  color: #4884B7;
  margin: auto;
  text-align: center;
  width: 100%;
  font-size: 2em;
}
.dashboard .content__boxes .box p strong .gh {
  font-weight: 400;
  font-size: 1.5em;
  margin: auto;
  text-align: center;
  color: #4884B7;
}
.dashboard .content__boxes .box span {
  text-align: center;
  margin: 5px auto;
  color: #202022;
  width: 100%;
}
.dashboard .content__boxes .box .note {
  margin: 5px auto auto 5px;
  text-align: left;
}
.dashboard .content__boxes .box .note span {
  color: #4884B7;
  font-weight: bold;
}
.dashboard .content__graphs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.dashboard .content__graphs .graph {
  width: 300px;
  height: 300px;
  background-color: black;
  border-radius: 10px;
  flex: 1;
  margin: 10px;
  display: block;
}

.top {
  height: 350px;
  margin: 70px auto 40px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  text-align: center;
  padding-top: 140px;
  /*   background-image:
      linear-gradient(rgba(36, 35, 117, 0.794),
       rgba(23, 19, 71, 0.589)),
              url("");
  */
}
.top__text {
  text-align: center;
  width: 70%;
  margin: auto;
}
.top__text__title {
  color: #4884B7;
  font-size: 2.2em;
  font-weight: bold;
  margin: 20px auto;
}
.top__text__text {
  font-size: 1em;
  margin: 20px auto;
}
.top__text__subtitle {
  font-size: 1.2em;
  margin: 20px auto;
}
.top__text__items {
  margin: 40px auto;
  width: 80%;
}
.top__text__items li {
  display: inline;
  margin: 10px;
  text-align: center;
  font-weight: bold;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  height: 60vh;
  margin: 90px auto;
  width: 80%;
}
.about__item {
  flex: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  /*
          &__boxes{
                  @include flex();
                  .box{
                      margin: 15px;
                      height: 140px;
                      width: 170px;
                      border: 1px solid;
                      cursor: pointer;
                      display: table;
                      i{
                          color: white;
                      }

                      p{
                          display: table-cell;
                          vertical-align: middle;
                      }
                  }

                  .green{
                      background-color: rgb(53, 233, 53);
                      border: 1px green solid;
                  }

                  .orange{
                      background: #f47032;
                      border: 1px #f47032 solid;
                  }


          }
          */
}
.about__item__title {
  color: #4884B7;
  font-size: 1.8em;
  text-align: center;
}
.about__item__text {
  text-align: justify;
  width: 80%;
  margin: auto;
}
.about__item .link {
  margin: auto;
}
.about__item__boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  margin: auto;
  height: 80%;
}
.about__item__boxes .box {
  width: 200px;
  height: 120px;
  background-color: purple;
  display: table;
  margin: 15px;
  color: white;
}
.about__item__boxes .purple {
  background-color: purple;
  border-color: purple;
}
.about__item__boxes .wheat {
  background: wheat;
  border-color: wheat;
}
.about__item__boxes .orange {
  background-color: orange;
  border-color: orange;
}
.about__item__boxes .green {
  background-color: green;
  border-color: green;
}
.about__item .link {
  height: 40px;
  width: auto;
  padding-left: 10px;
  padding-top: 5px;
  font-weight: bold;
  padding-right: 10px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #4884B7;
  color: white;
  background-color: #4884B7;
  margin: 20px auto;
}
.about__item .link a {
  color: white;
}

.reasons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  background-color: rgb(55, 71, 82);
  text-align: center;
  width: 100%;
  margin: auto;
  padding-top: 20px;
}
.reasons__title {
  color: #4884B7;
  font-size: 1.8em;
  text-align: center;
  color: white;
}
.reasons__sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}
.reasons__sections__box {
  flex: 1;
  text-align: center;
  margin: 15px auto;
}
.reasons__sections__box .box-img {
  background-color: rgb(212, 194, 212);
  width: 50px;
  height: 50px;
  border-radius: 40px;
  margin: 15px auto;
  text-align: center;
  position: relative;
  display: table;
}
.reasons__sections__box .box-img p {
  display: table-cell;
  vertical-align: middle;
  color: white;
  color: #202022;
}
.reasons__sections__box p {
  color: white;
}
.reasons__sections__box p a {
  color: white;
}

.simulator {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  height: 250px;
  width: 100%;
  margin: 30px auto 10px auto;
}
.simulator h2 {
  color: #4884B7;
  font-size: 1.8em;
  text-align: center;
}
.simulator__text {
  margin: 15px auto;
}
.simulator__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.simulator__buttons .link {
  margin: 15px;
  height: 40px;
  width: auto;
  padding-left: 10px;
  padding-top: 5px;
  font-weight: bold;
  padding-right: 10px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #4884B7;
  color: white;
  background-color: #4884B7;
}
.simulator__buttons .link a {
  color: white;
}

.care {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}
.care .card {
  flex: 1;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.care .card__icon {
  text-align: center;
  position: relative;
}
.care .card__icon i {
  font-size: 3em;
  width: 30%;
  position: absolute;
  left: 0;
  right: 0;
}
.care .card__text {
  width: 70%;
}
.care .card__text__text {
  width: 80%;
  text-align: left;
}
.care .card img {
  width: 300px;
  height: 300px;
  margin: auto;
}

.payments {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  height: 300px;
  width: 100%;
  margin: 60px auto;
}
.payments__title {
  color: #4884B7;
  font-size: 1.8em;
  text-align: center;
}
.payments__items {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}
.payments__items__item {
  margin: auto;
}
.payments__items__item img {
  width: 150px;
  height: 150px;
  border-radius: 50px;
  margin: auto;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  background-color: rgba(56, 54, 54, 0.952);
  padding-top: 20px;
  margin: 80px auto 0 auto;
  bottom: 0;
}
.footer__item {
  flex: 1;
}
.footer__item ul li {
  display: block;
}
.footer__item ul li h4 {
  font-weight: bold;
  color: #4884B7;
}
.footer__item ul li a {
  margin: auto 0;
  color: white;
}

.table {
  width: 98%;
  border-collapse: collapse;
  margin: auto;
  font-family: sans-serif;
}

.table td, .table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th {
  background-color: #4884B7;
  color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

/*responsive*/
@media (max-width: 500px) {
  .table {
    width: 100%;
    display: none;
  }
  .table thead {
    display: none;
  }
  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
/*responsive*/
@media (min-width: 768px) and (max-width: 1024px) {
  .about {
    width: 95%;
    background-color: red;
  }
}/*# sourceMappingURL=main.css.map */