/*
@mixin button{
    background-color: $bg;
    color: white;
    border: 1px solid;
    border-radius: 30px;
    height: 35px;

    width: auto;
    cursor: pointer;
    transition: 500ms ease-in-out;
}

@mixin input{
    width: 120px;
    height: 25px;
    border: 1px solid $black;
}

@mixin select{
    width: 120px;
    height: 25px;
    border: 1px solid $black;
}
*/
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(27, 27, 126);
}

html, body {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1.1em;
}

.main {
  display: block;
  width: 100%;
}

.form {
  margin: auto;
  width: 500px;
  text-align: center;
  border-radius: 15px;
  background-color: wheat;
}
.form__Close {
  float: right;
}

.container {
  width: 100%;
  margin: auto;
}

button a {
  color: white;
  font-weight: bold;
}

.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}
.dashboard .menu {
  width: 25%;
  margin: auto 0;
  height: 80vh;
  background-color: #202022;
  border-radius: 10px;
  border: 1px #202022 solid;
  display: block;
}
.dashboard .menu__items {
  text-align: center;
  width: 100%;
}
.dashboard .menu__items li {
  display: block;
  margin: 5px auto;
  text-align: center;
  width: 100%;
}
.dashboard .menu__items li .link {
  height: 50px;
  width: 100%;
  color: white;
  text-align: center;
  margin: auto;
  cursor: pointer;
}
.dashboard .menu__items li .link:hover {
  background-color: purple;
}
.dashboard .menu__items li:hover {
  background-color: red;
}
.dashboard .content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 70%;
  margin: 10px;
  border-radius: 10px;
}
.dashboard .content__title {
  margin: auto 0;
}
.dashboard .content__infos {
  margin: auto 0 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  float: right;
  height: 50px;
  background-color: white;
}
.dashboard .content__infos .icon {
  margin: 5px;
}
.dashboard .content__boxes {
  margin: 5px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  cursor: pointer;
}
.dashboard .content__boxes .box {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  flex: 1;
  margin: 15px;
  background-color: orange;
  text-align: center;
  display: grid;
}
.dashboard .content__boxes .box a {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}
.dashboard .content__graphs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.dashboard .content__graphs .graph {
  width: 300px;
  height: 300px;
  background-color: black;
  border-radius: 10px;
  flex: 1;
  margin: 10px;
}
.dashboard .form {
  background-color: r;
}

.top {
  height: 350px;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  text-align: left;
  padding-top: 90px;
}
.top__text {
  text-align: left;
  flex: 1;
  width: 80%;
  margin: auto;
  padding-right: 30px;
}
.top__text__title {
  color: rgb(27, 27, 126);
  font-size: 2.2em;
  font-weight: bold;
}
.top__text__text {
  font-size: 1em;
}
.top__text__subtitle {
  font-size: 1.2em;
}
.top__text__items {
  text-align: left;
  margin: auto 0;
}
.top__text__items li {
  display: inline;
  margin: 10px;
  text-align: left;
}
.top__image {
  flex: 1;
}
.top__image__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  justify-content: no;
  margin: 90px auto;
}
.top__image__box img {
  width: 150px;
  height: auto;
  margin: auto;
  flex: 1;
}

.reasons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  width: 100%;
  margin: 70px auto;
}
.reasons__title {
  color: purple;
  text-align: center;
  font-size: 1.9em;
}
.reasons__sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}
.reasons__sections__box {
  flex: 1;
  text-align: center;
}
.reasons__sections__box .box-img {
  background-color: rgb(212, 194, 212);
  width: 50px;
  height: 50px;
  border-radius: 40px;
  margin: auto;
  text-align: center;
  position: relative;
}
.reasons__sections__box .box-img p {
  position: absolute;
  left: 0;
  right: 0;
}
.simulator {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  height: 190px;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
  margin: 30px auto;
}
.simulator h3 {
  font-size: 1.9em;
}
.simulator__text {
  margin: -30px auto;
}
.simulator__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.simulator__buttons form {
  flex: 1;
  margin: 10px;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  text-align: center;
}
.about__left {
  padding-top: 50px;
  flex: 1;
}
.about__left__title {
  color: purple;
  font-size: 1.9em;
}
.about__left__text {
  width: 80%;
  margin: auto;
  text-align: left;
}
.about__left__btn {
  margin: 20px auto;
}
.about__img {
  flex: 1;
}
.about__img img {
  width: 80%;
}

.care {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}
.care .card {
  flex: 1;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.care .card__icon {
  text-align: center;
  position: relative;
}
.care .card__icon i {
  font-size: 3em;
  width: 30%;
  position: absolute;
  left: 0;
  right: 0;
}
.care .card__text {
  width: 70%;
}
.care .card__text__text {
  width: 80%;
  text-align: left;
}

.payments {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  height: 300px;
  width: 100%;
}
.payments__title {
  text-align: center;
}
.payments__items {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}
.payments__items__item {
  margin: auto;
}
.payments__items__item img {
  width: 150px;
  height: 150px;
  border-radius: 50px;
  margin: auto;
}

.dashboard {
  display: block;
}
.dashboard__top {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.dashboard__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.dashboard__main__menu {
  width: 25%;
  float: left;
  background-color: rgb(34, 26, 26);
  display: block;
}
.dashboard__main__menu ul li {
  display: block;
}
.dashboard__main__menu ul li a {
  color: white;
}
.dashboard__content .infos {
  width: 350px;
  margin: 20px auto auto 0;
  border: 1px solid #202022;
  display: block;
}
.dashboard__content .infos__top {
  text-align: left;
}
.dashboard__content .infos__curr {
  display: block;
}
.dashboard__content .infos__curr .curr-top {
  color: red;
}
.dashboard__content .infos__curr .curr-top span {
  float: right;
}
.dashboard__content .history {
  width: 80%;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.footer__item {
  flex: 1;
}
.footer__item ul li {
  display: block;
}
.footer__item ul li h4 {
  font-weight: bold;
}

.table {
  width: 98%;
  border-collapse: collapse;
  margin: auto;
  font-family: sans-serif;
}

.table td, .table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th {
  background-color: rgb(27, 27, 126);
  color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

/*responsive*/
@media (max-width: 500px) {
  .table {
    width: 100%;
    display: none;
  }
  .table thead {
    display: none;
  }
  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}/*# sourceMappingURL=main.css.map */