@import url("http://fonts.cdnfonts.com/css/montserrat");
/*
@mixin button{
    background-color: $bg;
    color: white;
    border: 1px solid;
    border-radius: 30px;
    height: 35px;

    width: auto;
    cursor: pointer;
    transition: 500ms ease-in-out;
}

@mixin input{
    width: 120px;
    height: 25px;
    border: 1px solid $black;
}

@mixin select{
    width: 120px;
    height: 25px;
    border: 1px solid $black;
}
*/
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(27, 27, 126);
}

html, body {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1.1em;
  font-family: "Montserrat", sans-serif;
}

.main {
  display: block;
  width: 100%;
}

.form {
  margin: 90px auto;
  width: 500px;
  text-align: center;
  border-radius: 15px;
  background-color: rgb(207, 205, 201);
  display: block;
}
.form__close {
  float: right;
  height: 40px;
  margin: 10px 0 10px auto;
}
.form__close i {
  margin: auto 10px auto auto;
}
.form__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  margin: 50px auto;
}
.form__items__item {
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.form__items__item img {
  width: 70px;
  height: 70px;
}
.form__items__item p {
  text-align: center;
  font-size: 0.9em;
}

.container {
  width: 100%;
}

button a {
  color: white;
  font-weight: bold;
}

nav {
  height: 80px;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.67);
  z-index: 99999;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}

label.logo img {
  margin: 10px auto;
  height: 50px;
  width: 170px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  color: red;
}

.login-link {
  border-radius: 3px;
  height: 40px;
  background-color: #40312C;
  color: white;
}

.login-link:hover {
  color: rgb(27, 27, 126);
  background-color: rgb(27, 27, 126);
}

a.active, a:hover {
  color: rgb(27, 27, 126);
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 1279px) {
  .checkbtn {
    display: block;
  }
  .checkbtn i {
    color: white;
  }
  nav {
    position: fixed;
    z-index: 9999;
    background-color: #40312C;
  }
  nav label img {
    top: 5px;
    left: 5px;
    position: absolute;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    top: 80px;
    padding-top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 10px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover, a.active {
    background: none;
    color: #D1AF52;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
.dashboard {
  width: 95%;
  display: flex;
  margin: auto;
}
.dashboard .menu {
  width: 20%;
  height: 80vh;
  background-color: #202022;
  border-radius: 10px;
  border: 1px #202022 solid;
  display: block;
  text-align: center;
}
.dashboard .menu__items {
  text-align: center;
  width: 100%;
}
.dashboard .menu__items li {
  display: block;
  margin: 5px auto;
  text-align: center;
  width: 100%;
}
.dashboard .menu__items li .link {
  height: 50px;
  width: 100%;
  color: white;
  text-align: center;
  margin: auto;
  cursor: pointer;
}
.dashboard .menu__items li .link a {
  margin: auto;
}
.dashboard .menu__items li .link:hover {
  background-color: purple;
}
.dashboard .menu__items li:hover {
  background-color: red;
}
.dashboard .content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  width: 75%;
  border-radius: 10px;
  margin: auto;
  padding-top: 0;
}
.dashboard .content__title {
  margin: auto 0;
}
.dashboard .content__infos {
  margin: 0 0 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  text-align: right;
  float: right;
  height: 50px;
  background-color: white;
}
.dashboard .content__infos .icon {
  margin: 10px;
  text-align: right;
}
.dashboard .content__boxes {
  margin: 5px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  cursor: pointer;
}
.dashboard .content__boxes .box {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  flex: 1;
  margin: 15px;
  background-color: orange;
  text-align: center;
  display: grid;
}
.dashboard .content__boxes .box a {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}
.dashboard .content__graphs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}
.dashboard .content__graphs .graph {
  width: 300px;
  height: 300px;
  background-color: black;
  border-radius: 10px;
  flex: 1;
  margin: 10px;
}

.top {
  height: 350px;
  margin: 70px auto 40px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  text-align: center;
  padding-top: 140px;
}
.top__text {
  text-align: center;
  width: 70%;
  margin: auto;
}
.top__text__title {
  color: rgb(27, 27, 126);
  font-size: 2.2em;
  font-weight: bold;
  margin: 20px auto;
}
.top__text__text {
  font-size: 1em;
  margin: 20px auto;
}
.top__text__subtitle {
  font-size: 1.2em;
  margin: 20px auto;
}
.top__text__items {
  text-align: left;
  margin: 40px auto;
}
.top__text__items li {
  display: inline;
  margin: 10px;
  text-align: left;
  font-weight: bold;
}

.about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
  height: auto;
  margin: 60px auto;
}
.about__title {
  margin: 15px auto;
}
.about__text {
  width: 80%;
  margin: auto;
}
.about__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}
.about__items__item {
  margin: 15px;
  height: 140px;
  width: 100px;
  border: 1px solid;
}
.about__items__item i {
  color: white;
}
.about__items .green {
  background-color: rgb(53, 233, 53);
  border: 1px green solid;
}
.about__items .orange {
  background: #f47032;
  border: 1px #f47032 solid;
}
.about__btn {
  margin: 20px auto;
}

.reasons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
  width: 100%;
  margin: 70px auto;
}
.reasons__title {
  color: purple;
  text-align: center;
  font-size: 1.9em;
}
.reasons__sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
}
.reasons__sections__box {
  flex: 1;
  text-align: center;
}
.reasons__sections__box .box-img {
  background-color: rgb(212, 194, 212);
  width: 50px;
  height: 50px;
  border-radius: 40px;
  margin: auto;
  text-align: center;
  position: relative;
}
.reasons__sections__box .box-img p {
  position: absolute;
  left: 0;
  right: 0;
}
.simulator {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
  height: 190px;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
  margin: 30px auto;
}
.simulator h3 {
  font-size: 1.9em;
}
.simulator__text {
  margin: -30px auto;
}
.simulator__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}
.simulator__buttons form {
  flex: 1;
  margin: 10px;
}

.care {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
}
.care .card {
  flex: 1;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}
.care .card__icon {
  text-align: center;
  position: relative;
}
.care .card__icon i {
  font-size: 3em;
  width: 30%;
  position: absolute;
  left: 0;
  right: 0;
}
.care .card__text {
  width: 70%;
}
.care .card__text__text {
  width: 80%;
  text-align: left;
}

.payments {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  height: 300px;
  width: 100%;
}
.payments__title {
  text-align: center;
}
.payments__items {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
}
.payments__items__item {
  margin: auto;
}
.payments__items__item img {
  width: 150px;
  height: 150px;
  border-radius: 50px;
  margin: auto;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}
.footer__item {
  flex: 1;
}
.footer__item ul li {
  display: block;
}
.footer__item ul li h4 {
  font-weight: bold;
}

.table {
  width: 98%;
  border-collapse: collapse;
  margin: auto;
  font-family: sans-serif;
}

.table td, .table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th {
  background-color: rgb(27, 27, 126);
  color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

/*responsive*/
@media (max-width: 500px) {
  .table {
    width: 100%;
    display: none;
  }
  .table thead {
    display: none;
  }
  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}/*# sourceMappingURL=main.css.map */